<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxt.jhonelee.mapper.ITVVideoDao">

	<resultMap type="ItvVideo" id="ItvVideoMap">
		<id property="mId" column="id" />
		<result property="mIndex" column="index" />
		<result property="mAreaCode" column="area_cd" />
		<result property="mTitle" column="title" />
		<result property="mFileSpec" column="filespec" />
		<result property="mStartpos" column="startpos" />
		<result property="mLength" column="length" />
		<result property="mState" column="state" />
		<result property="mCreatetime" column="create_time" />
	</resultMap>
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="false"></cache>
	<select id="AllItvVideoMenu" resultMap="ItvVideoMap" resultType="ItvVideo">
		select * from ITV_VIDEOMENU where area_cd = #{mAreaCode} limit #{startPos},#{pageSize}
	</select>
	
	<select id="getCount"  resultType="int">
		select count(id) from ITV_VIDEOMENU where area_cd = #{mAreaCode}
	</select>

	<insert id="AddVideoMenu" parameterType="ItvVideo">
		insert into
		ITV_VIDEOMENU
		(`index`,area_cd,title,filespec,startpos,length,state,create_time)
		values
		(#{mIndex},#{mAreaCode},#{mTitle},#{mFileSpec},#{mStartpos},#{mLength},#{mState},#{mCreatetime})
	</insert>
	<update id="UpdateVideoMenu" parameterType="ItvVideo">
		update ITV_VIDEOMENU
		<set>
			`index`=#{mIndex},title=#{mTitle},filespec=#{mFileSpec},
			startpos=#{mStartpos},length=#{mLength},state=#{mState},create_time=#{mCreatetime}
		</set>
		<where>
			id=#{mId}
		</where>
	</update>
	<update id="DeleteVideoMenu" parameterType="ItvVideo">
		update ITV_VIDEOMENU
		<set>
			state = #{state}
		</set>
		<where>
			id = #{mId}
		</where>
	</update>
</mapper>