<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.yxt.jhonelee.model.Admin" alias="Admin" />
		<typeAlias type="com.yxt.jhonelee.model.ITVAddress" alias="ITVAddress" />
		<typeAlias type="com.yxt.jhonelee.model.Address" alias="Address" />
	</typeAliases>
	<mappers>
		<mapper resource="com/yxt/jhonelee/mapper/AddressMapper.xml" />
		<mapper resource="com/yxt/jhonelee/mapper/AdminMapper.xml" />
		<mapper resource="com/yxt/jhonelee/mapper/ITVAddressMapper.xml" />
	</mappers>
</configuration>

